<div class="jumbotron jumbotron-fluid text-center"><!-- トップ見出しのデザイン,containerの外側に置くことで全幅,jumbotron-fluidで角の丸みを消す -->
  <div class="container text-light">
    <h1>Introduce each other to the GAME</h1>
    <p>面白かったゲームを皆に紹介しよう！</p>
  </div>
</div>