/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// top画面の画像
.jumbotron {
  width: 100%;
  background-image: url("video-controller-336657_960_720.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 0px; // 画像下の隙間を無くす
  height: 100vh; // 画面の高さに対して
}

// フッターを下に固定
body,
main {
  display: flex;
  flex-direction: column; // アイテムが縦に積み重なるように配置
  height: 100vh; // コンテンツ量が画面サイズより大きい場合はmin-heigthで指定すること
}
#footer{
  margin-top: auto;
}